#demo
    .box
        position: relative
        p
            width: 500px
        .minibox
            width: 150px
            height: 150px
            background-color: #c990af
            margin: 10px
            padding: 10px
            color: #ffff
        .change
            position: fixed
            right: 0px
